@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-brand: #043f54;
  --color-brand-hover: #03303f;
  --color-brand-accent: #e42319;
  --color-brand-accent-hover: #c41d12;
  --color-line: #e4e6ea;

  --container-rule: 87.5rem;
  --container-page: 75rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
